<!DOCTYPE html>
<html>
<head>
	<title>LimentNature</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<% if(!currentUser){ %>
					<li><a href="/register" id="link">Sign Up <span class="glyphicon glyphicon-edit"></span></a></li>
					<li><a href="/login" id="link">Login <span class="glyphicon glyphicon-log-in"></span></a></li>
				<% } else{ %>
				<li><a href="#" id="link">Welcome <%= currentUser.username %> <span class="glyphicon glyphicon-user"></span></a></li>
				<li><a href="/logout" id="link">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
				<% } %>
			</ul>
		</div>
		
	</div>
</nav>

<div class="container">
	<% if(errorFlashMessage && errorFlashMessage.length > 0){ %>
		<div class="alert alert-danger" role="alert">
			<%= errorFlashMessage %>
		</div>
	<% } %>
	
	<% if(successFlashMessage && successFlashMessage.length > 0){ %>
		<div class="alert alert-success" role="alert">
			<%= successFlashMessage %>
		</div>
	<% } %>
</div>


<div id="landing-header">
	<h1><strong>LimentNature</strong></h1>
		<h4>Start planning your next trip today</h4>
		<hr>
		<a class="btn btn-default" href="/campgrounds"><span class="glyphicon glyphicon-tree-conifer"></span> <strong>Get Started!</strong></a>
</div>

<div class="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</div>

</body>
</html>